@CHARSET "UTF-8";
.wrapper {width:960px;margin:0 auto;}
.head {position:relative;height:70px;}
.head h1 {font-family:Georgia,serif;font-size:30px;font-weight:bold;}
.head small {position:absolute;top:35px;left:4px;color:#888;font-size:14px;}
.head .user {position:absolute;top:10px;right:10px;}
.footer {border-top:1px #aaa solid;clear:both;margin:30px 0 10px 0;text-align:center;font-size:12px;color:#888;padding:5px;}

form.side-by-side > div {clear:both;}
form.side-by-side > div > label {float:left;width:130px;}
form.side-by-side > div.submit {margin-left:130px;}
form.side-by-side > div.captcha input {margin:10px 0 10px 130px;}